name = "adobe-student-ambassador"
type = "javascript"
zone_id = ""
account_id = ""
route = ""
zone_id = ""
workers_dev = true
compatibility_date = "2022-03-07"

[build]
command = "npm install && npm run build"

[build.upload]
format = "service-worker"

[env.dev]
name = "staging-bot"
[env.dev.vars]
NONCE=""
BOT_ID=""
PREFIX=""
GUILDED_TOKEN=""